@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Uzi";
    src: url("https://raw.githubusercontent.com/vickkie/uzitrake/main/fonts/Uzi-stylish.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    /* background-image: -webkit-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%); */
    font-family: 'Uzi', sans-serif;
    background: black;
    /* overflow-y: hidden; */
}

.skip-to-main-content-link {
    position: absolute;
    left: -9999px;
    z-index: 999;
    padding: 1em;
    background-color: black;
    color: white;
    opacity: 0;
}

.skip-to-main-content-link:focus {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}

.animate-delay {
    animation-delay: -0.5s;
}

.blurred-box {
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25), inset 0 0 2px 0px white;
    background: rgba(0, 0, 0, .0125);
    overflow: hidden;
    transition: all 200ms ease-in-out;
    backdrop-filter: blur(5px);
    animation: resize 1.5s .5s;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, .075);
        z-index: -1;
    }

    &:active {
        background: rgba(255, 255, 255, 0.349);
    }
}

.backgroundNetwork {
    /* background: linear-gradient(180deg, rgba(75, 85, 99, 1), rgba(0, 0, 0, 0) 50%, rgba(75, 85, 99, 1) 100%); */
    background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.blurred-sub-box {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);

    &:hover {
        position: relative;
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.35) 50%, rgba(0, 0, 0, 1) 100%);
        transition: all 250ms ease-in-out;
        backdrop-filter: blur(2px);
    }
}

.search-gpt-overlay {
    transition: all 250ms ease-in-out;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.35) 50%, rgba(0, 0, 0, 1) 100%);
    backdrop-filter: blur(45px);
    width: 100%;
    height: 215%;
    overflow-y: hidden;
}

.blur-overlay {
    transition: all 250ms ease-in-out;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25), inset 0 0 2px 0px white;
    backdrop-filter: blur(15px);
    border-color: #C7C7C7;
}

.sticky-header-blur {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    /* box-shadow: 0 0 10px rgba(0, 0, 0, .25), inset 0 0 2px 0px white; */
    transition: all 500ms ease-in-out;
    backdrop-filter: blur(10px);
}

.wrappedOverview {
    display: -webkit-box;
    max-width: 300px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: #000000;
}

*::-webkit-scrollbar-track:hover {
    background-color: #000000;
}

*::-webkit-scrollbar-track:active {
    background-color: #000000;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #999999;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #C7C7C7;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #BDBDBD;
}

.resizable {
	overflow: hidden;
	container-type: size;
  scale: var(--scale);
  width: 100%;
  height: 100px;
}


ul {
	display: flex;
	gap: 1rem;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.container ul {
	height: 100%;
	width: fit-content;
	padding: 0;
	align-items: center;
	pointer-events: none;
}

li {
	height: 80%;
	aspect-ratio: 16 / 9;
	font-size: clamp(2rem, 4vw + 1rem, 8rem);
	display: grid;
	place-items: center;
}

li svg {
	fill: white;
	height: 65%;
}

[data-play-state=running] :is(ul, li) {
	animation-play-state: running !important;
}
[data-play-state=paused] :is(ul, li) {
	animation-play-state: paused !important;
}

.container {
	mask: linear-gradient(90deg, transparent, black 15% 85%, transparent);
	width: 30%;
	display: grid;
	min-height: 100px;
	min-width: 300px;
    max-width: 820px;
}

/* Blur component */
.blurIcon {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 53%;
	z-index: 2;
	pointer-events: none;
    
}
@media (max-width: 768px) {
.blurIcon {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 30%;
	z-index: 2;
	pointer-events: none;
    
}
}

.blurIcon--right {
	right: 0;
}

.blurIcon--left {
	left: 0;
	rotate: 180deg;
}

.blurIcon div {
	position: absolute;
	inset: 0;
	z-index: var(--index);
  mask: linear-gradient(
  	90deg,
  	transparent calc(var(--index) * calc((100 / var(--blurs)) * 1%)),
  	black calc((var(--index) + 1) * calc((100 / var(--blurs)) * 1%)),
  	black calc((var(--index) + 2) * calc((100 / var(--blurs)) * 1%)),
  	transparent calc((var(--index) + 3) * calc((100 / var(--blurs)) * 1%))
  );
	backdrop-filter: blur(calc((var(--index, 0) * var(--blur, 0)) * 2px));
}

.blurIcon {
	opacity: 0;
}

[data-outline=true] .blurIcon {
  border: 4px dashed hotpink;
  background: hsl(320 100% 50% / 0.1);
}

[data-blurring=true] .blurIcon {
	opacity: 1;
}

/* The animation stuff */
@media(prefers-reduced-motion: no-preference) {
	[data-translate=items] ul {
		gap: 0;
	}
	[data-translate=items][data-direction=horizontal].container {
		padding-inline: 0;
	}
	
	[data-translate=items] li {
		--duration: calc(var(--speed) * 1s);
		--delay: calc((var(--duration) / var(--count)) * (var(--index, 0) * -1));
		animation: slide var(--duration) var(--delay) infinite linear paused;
		translate: var(--origin-x) var(--origin-y);
	}
	[data-translate=items][data-direction=horizontal] li {
		--origin-x: calc(((var(--count) - var(--index)) + var(--inset, 0)) * 100%);
		--origin-y: 0;
		--destination-x: calc(calc((var(--index) + 1 + var(--outset, 0)) * -100%));
		--destination-y: 0;
	}
	
	@keyframes slide {
		100% {
			translate: var(--destination-x) var(--destination-y);
		}
	}
}