@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Uzi";
    src: url("https://raw.githubusercontent.com/vickkie/uzitrake/main/fonts/Uzi-stylish.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Uzi', sans-serif;
}

.animate-delay {
    animation-delay: -0.5s;
}